
body {
    background: -webkit-linear-gradient(top,#87B4E6,#A3D5E2);
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: white;
}


.home-div{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
}

.logo_image{
    margin-top: 20px;
    margin-left: 44px;
    width: 60px;
    height: 60px;
}

.linkPeople{
    font-size: 15px;
    color:white;
    margin-left:10px;
    margin-top: 14px;
    text-align: left;
}

.title-1{
    text-indent:2em;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.img1{margin-top: 25px}
.img2{margin-top: 25px}
.img3{margin-top: 25px;margin-bottom: 30px}

.img_main{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-bottom{
    text-indent:2em;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.p-header{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 24px;
}

.div-1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
}